[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
isort = "*"

[packages]
disnake = "~=2.4"
loguru = "~=0.5"
aiodns = "*"
arrow = "*"

[requires]
python_version = "3.9"

[scripts]
bot = "python -m bot"
